.heading-style{

    background-color: rgba(255, 167, 3, 0.853);
    color:white;
    display: flex;
    justify-content: center;
}
.cart-style{
    color:darkorange;
    
}
.display-style{
    background-color: beige;
    width: auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

   }
   
